APScheduler==3.10.4
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
pyTelegramBotAPI==4.23.0
pytz==2024.2
requests==2.32.3
six==1.16.0
tzdata==2024.1
tzlocal==5.2
typing_extensions==4.12.2
urllib3==2.2.3
python-dotenv==1.0.1